body {
	background:#3F9815;
	font-family:Comic Sans, cursive;
}

.assignment {
	display:flex;
	padding:10px;
	margin:10px;
	background-color: #107C10;
	border-radius: 25px;
}

.assignment img{
	width:200px;
	margin:10px;
	border:4px solid #000000;
}

.assignment img:hover{
	border:4px dashed #F2F2F2
}

h1 {
	color:#F2F2F2;
	text-align:center;
}

h1:hover {
	color:#000000;
	text-align:center;
}

a{
	text-decoration:none;
	color:#000000;
}

a:hover{
	color:#F2F2F2;
}